services:
  api:
    build: .
    container_name: task-server
    network_mode: host
    env_file:
      - .env
    ports:
      - 8000:8000
    command: >
      uvicorn main:app
      --host 0.0.0.0
      --port 8000

  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
