#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#tooltip {
  border: 1px solid #555;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0;
  padding: 10px;

  background-color: #fffe
}

h2 {
  margin: 0;
  font-size: 18px;
  text-align: left;

}