#root {
  max-width: 1280px;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  width: 100%;
}

#tooltip {
  border: 1px solid #555;
  border-radius: 5px;
  /* position: absolute; */
  margin: 0;
  padding: 10px;

  background-color: #fffe;
  pointer-events: none;
  visibility: hidden;
}

h2 {
  margin: 0;
  font-size: 18px;
  text-align: left;

}

svg {
}