#root {
  max-width: 1280px;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  width: 100%;
}

#tooltip {
  border: 1px solid #555;
  border-radius: 5px;
  position: absolute;
  margin: 0;
  padding: 10px;

  background-color: #fffe;
  color: #333;
  pointer-events: none;
  visibility: hidden;

  & h1 {
    font-size: small;
    margin: 0;
  }
}

h2, h4 {
  margin: 0;
  text-align: left;

}

svg {
}
