@import '@/styles/global.css';

svg.checkbox {
  height: 40px;
  width: 40px;
  background: none;
  cursor: pointer;

  & .target {
  }
}

#inspect-pane-new {
  /* background-color: #333; */
  margin: 10px;
  font-size: 18px;
  gap:10px;



  & input[type='checkbox'] {
    display: inline-block;
  }

  & input {
    display: inline-block;
    margin: 0;
    font-size: 18px;
  }

  .p {
    margin: 10px 0;
    padding: 10px;
  }

  .card-header {
    display:block;
    grid-template-rows: min-content;
  }

  #bar {

    flex: 0 1 100px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    align-items: stretch;
    height: inherit;
    flex-wrap: wrap;

    div:nth-child(1) {
      flex: 1 0;
      display: flex;
      gap: 5px;
    }

    div:nth-child(2) {
      flex: 0 0;
      display: flex;
      gap: 5px;
    }

    & .checkbox {
      height: 30px;
      flex: 0 0 30px;
      background: none;
      cursor: pointer;
      margin: auto
    }

    & .text-widget { flex: 1 0; }

    & .modal {
      height: inherit;
    }

    & .external { 
      background-color: var(--background);
      height: inherit; 
      transition: background-color 0.5s, border-radius 0.5s;
      border-radius: var(--radius-4xl);
      padding: 10px;
    }
    & .external[data-state='on'] { 
      background-color: var(--accent);
      border-radius: var(--radius-lg);
      border-color: var(--accent-border);

    }

    & .priority span {
      width: 20px;
    }

  }
  
  [data-slot='card-footer'] button {
    margin-right: 10px;
  }

  position:relative;

  button.delete {
    position: absolute;
    top:-10px;
    right: -10px;
  }
}


.text-widget {
  box-sizing: border-box;

  border: 2px solid #9990;
  border-radius: 5px;
  padding: 10px;

  -webkit-appearance: none;
  outline: none;
  transition: border .2s, background .2s;

  &:hover {
    border: 2px solid #999f;
    /* background: #1a1a1aff; */
  }

  &:focus {
    border: 2px solid var(--foreground);
    /* background: #1a1a1aff; */
  }

}

#inspect-pane-new {
  & label {
    margin: 5px 0;
  }
}

.markdown-widget {
  /* height: 100px; */
  border-radius: 5px;
  min-height: 50px;
  /* max-height: 50px; */
  border: 1px solid var(--background);
  cursor: text;

  font-size: 1em;
  padding: 10px;
  margin: 10px 0;

  transition: height, max-height;
  transition: border .2s, background .2s;

  &:hover {
    border: 1px solid #999f;
    /* background: var(--muted-foreground); */
  }

  &.editing {
    border: 1px solid var(--muted-foreground);
    /* background: #eee; */

  }

  & textarea {
    width: 100%;
    height: 50px;
    margin: 0 0;
    padding: 0;
    font-weight: normal;
    border: var(--foreground);
    background: none;
    resize: none;

    outline: none;
    font-family: monospace;
    font-size: .8em;
  }

  & * {
  }

  ul {
    list-style-type: disc; 
    padding-left: 20px;
  }

  ol {
    padding-left: 20px;
    list-style-type: decimal;
  }

  & p, li {
    font-size: 14px;
    margin: 5px;
  }

}

button.delete {
  background-color: var(--destructive);
  color: white;
  position: absolute;

  padding: 5px;
  z-index: 999;
  height: 25px;
  width: 25px;

  & svg {
    background: none;
  }

}
.dependencies {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  font-size: .8em;

  &:not(:empty) {
    margin: 20px 0;
  }

  /* padding: 20px 0; */
  /* overflow-y: visible; */

  & span {

    border-radius: 5px;
    background-color: var(--secondary);
    padding: 10px;
    position: relative;
    cursor: pointer;
    color: var(--secondary-foreground);


    /* display: inline-block; */
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    /* margin: 20px 0; */


    &:hover {
      /* border: 10px solid #fff; */
      outline: 1px solid #fff;

      & button.delete {
        visibility: visible;
      }
    }

    & button.delete {
      visibility: hidden;
      position: absolute;
      top: -18px;
      right: -18px;
    }

  }
}
