@import '@/styles/global.css';

#list-view {
    background-color: var(--background);
    overflow-y: scroll;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    flex-basis: 20%;

    & svg.checkbox {
        height: 20px;
        width: 20px;
        background: none;
        cursor: pointer;
        margin: auto;
        stroke-width: 100;

        & .target {
        }
    }


    #list-items {
        padding: 0 10px;
        height: 100%;
    }

    & .list-item {

        background-color: var(--background);
        border-top: 1px solid #ccc;
        padding: 5px;
        /* border-radius: 5px; */
        flex: 0 0 auto;
        align-items: stretch;
        cursor: pointer;
        gap: 10px;

        display: flex;
        flex-direction: row;
        transition: background-color 0.2s;
        align-items: center;
        justify-content: flex-start;

        span {
            margin: auto 0;
            flex: 1 1 0;

        }

        &.highlight {
            background-color: #eee;
        }

        span.title {
            mask-image: linear-gradient(to right, black 80%, transparent 100% );
            white-space: nowrap;
            overflow-x: hidden;

        }

        svg {
            flex-shrink: 0;
        }

        .priority span {
            width: 20px;
            margin: 0;
        }
        
        .priority {
            height: 30px;
            margin: auto;
        }
    }
    & .buttonbar {
        position: sticky;
        top: 0;
        z-index: 9;
        /* mask-image: linear-gradient(to bottom, black 0%, transparent 100%) */
    }

}
