#root {
  max-width: 1280px;
  margin: 0;
  box-sizing: border-box;
  /* box-sizing: content-box; */
  margin: 0 auto;
  width: 100%;
}

body {
  width: 100%;
}

#tooltip {
  border: 1px solid #555;
  border-radius: 5px;
  position: absolute;
  margin: 0;
  padding: 10px;

  background-color: #fffe;
  color: #333;
  pointer-events: none;
  visibility: hidden;

  & h1 {
    font-size: small;
    margin: 0;
  }
}

h2, h4 {
  margin: 0;
  text-align: left;

}

svg {
  display: block;
  background-color: #222229;
  width: 100%;
  height: 500px;

  & .selected {
    /* box-shadow: #fff 0 0 10px */
    filter: drop-shadow(0 0 10px #666)
  }

  & g#node,g#ghost-node rect {
    cursor: pointer;
  }
}

#inspect-pane {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #333 0 0 20px;
  margin: 10px;
  font-size: 18px;

  & .h1 {
    font-size: large;
    color: white;
    display: inline-block;
    margin-left: 20px;
    padding: 10px 0;
  }

  & input[type='checkbox'] {
    display: inline-block;
  }

  & input {
    display: inline-block;
    margin: 0;
    font-size: 18px;
  }

  .p {
    margin: 10px 0;
    padding: 10px;
    /* border: 1px solid orange; */
  }

  #bar {
    border: 0px solid blue;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    margin-bottom: 10px;


    & * {
      flex: 1 0;
      display: inline-block;
      margin: 0 0;
      align-items: center;
    }

    & .checkbox {
      height: 50px;
      flex: 0 0 50px;
    }

    & .text-widget {
      flex: 1 0;
    }

    & .immutable {
      flex: 0 1;
    }
    .modal {
      flex: 0 1;
      padding: 5px 10px;
      font-weight: bold;
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: .8em;
      cursor: pointer;
      user-select: none;
      text-shadow:0 0 10px #000;
      display: flex;
      text-align: center;

      /* transition: border-radius .5s; */
      transition: border-radius ease-in-out .2s;
    }
    .modal.priority {
      flex-basis: 30px;
    }
  }

  & .immutable {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
  }

  button,input[type='button'] {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 10px;
  }


}

button,input[type='button'] {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

.text-widget {
  font-weight: bold;
  background: #0000;
  box-sizing: border-box;

  border: 1px solid #9990;
  border-radius: 5px;
  padding: 10px;

  -webkit-appearance: none;
  outline: none;

  &:hover {
    transition: border .2s, background .2s;
    border: 2px solid #999f;
    background: #1a1a1aff;
  }

  &:focus {
    border: 2px solid white;
    background: #1a1a1aff;

  }

}

.markdown-widget {
  /* height: 100px; */
  border-radius: 5px;
  min-height: 50px;
  /* max-height: 50px; */
  border: 1px solid #555;
  cursor: text;

  &:hover {
    transition: border .2s, background .2s;
    /* border: 1px solid #999f; */
    background: #1a1a1aff;
  }

  font-size: 1em;
  padding: 10px;

  transition: height, max-height;

  &:focus {
    border: 1px solid red;
    background: blue;

  }

  & textarea {
    width: 100%;
    height: 100px;
    margin: 0 0;
    padding: 0;
    font-weight: normal;
    border: none;
    background: none;
    resize: none;

    outline: none;
  }

  & p {
    margin: 5px;
    font-size: .8em;
  }
}

.markdown-widget.editing {

  background: #1a1a1a;
  border: 1px solid white;

  transition: border 1s, background 1s;

}


svg.checkbox {
  height: 99px;
  width: 99px;
  background: none;
  border: 0px solid red;

  & .target {
    cursor: pointer;
  }
}

#inspect-pane .dependencies {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;

  &:not(:empty) {
    margin: 20px 0;
  }

  /* padding: 20px 0; */
  font-size: .8em;
  /* overflow-y: visible; */

  & span {

    border-radius: 5px;
    background-color: #000;
    padding: 10px;
    position: relative;
    cursor: pointer;


    /* display: inline-block; */
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    /* margin: 20px 0; */


    &:hover {
      /* border: 10px solid #fff; */
      outline: 1px solid #fff;

      & button.delete {
        visibility: visible;
      }
    }

    & button.delete {
      visibility: hidden;
      background-color: red;
      color: white;
      position: absolute;
      top: -20px;
      right: -20px;
      padding: 5px;

    }

  }
}
